.Main {
    padding-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.Box {
    box-shadow: 0px 0px 10px 0px gray;
    width: 90%;
    border-radius: 10px;
}

.EventHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Box .MarkAttendance {
    font-size: 14px;
    padding: 20px;
    color: var(--blue);
}

.Title {
    font-size: 20px;
    text-align: left;
    padding: 20px;
}

.Status {
    font-size: 12px;
    padding: 20px;
    text-align: right;
}

.Description {
    margin-top: 20px;
}

.Description p:first-child {
    text-align: left;
    padding: 10px 0px 0px 10px;
    color: var(--blue);
}

.Description p:last-child {
    text-align: left;
    padding: 10px 20px;
    text-indent: 20px;
    line-height: 25px;
}